body {
  background-image: url("back4.jpg");
  height: 1500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.title-img {
  background-image: url("vint6.jpg"),url("vint2.jpg");

  background-repeat: no-repeat,repeat-x;
  background-size: cover,cover;

}
.title {
  text-align: center;
  font-style: italic;
  color: white;
  background-color: #5DADEC;
  background:rgba(0,0,0,0.8);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 550px;


  font-family: fantasy;
}
.my-pic {
  float: right;
}
.links {
  color: white;
  position: absolute;
  top: 50px;
  left: 900px;
}
